﻿@page
@model OnlineLearning.Pages.Admin.AccountPage.UpdateAccountModel
@{
}
@{
    Layout = "_AdminLayout";
}
<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        @*<div class="title">
                        <h4>Form</h4>
                        </div>*@
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-page="ListAccount">Account List</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Update Account</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <p class="alert text-danger">@ViewData["error"]</p>
                <form method="post">
                    <input asp-for="@Model.Profile.ProfileId" class="form-control" type="hidden" placeholder="Account Name" readonly>
                    <div class="form-group row">
                        <label asp-for="@Model.Profile.Name" class="col-sm-12 col-md-2 col-form-label">Account Name</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="@Model.Profile.Name" class="form-control" type="text" placeholder="Account Name" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="@Model.Profile.Address" class="col-sm-12 col-md-2 col-form-label">Address</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="@Model.Profile.Address" class="form-control" type="text" placeholder="Address" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="@Model.Profile.Phone" class="col-sm-12 col-md-2 col-form-label">Phonenumber</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="@Model.Profile.Phone" class="form-control" type="text" placeholder="Phonenumber" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="@Model.Profile.Birthday" class="col-sm-12 col-md-2 col-form-label">Birthday</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="@Model.Profile.Birthday" class="form-control" type="text" placeholder="Birthday" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Role</label>
                        <select asp-for="@Model.Profile.RoleId" class="custom-select2 form-control" style="width: 100%; height: 38px;">
                            @foreach (var item in Model.ListRole)
                            {
                                <option value="@item.RoleId">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="btn-list">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a asp-page="ListAccount" type="submit" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
            <!-- Default Basic Forms End -->

        </div>
    </div>
</div>