﻿@page
@model OnlineLearning.Pages.FlashCardPage.AddFlashCardModel
@{
}


<h3>Add new Flash Card</h3><br />
<form method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Id</label>
        <input asp-for="@Model.flashCard.FlashcardId" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Id">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Question</label>
        <textarea asp-for="@Model.flashCard.Question" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter question"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Course Id</label>
        <input asp-for="@Model.flashCard.CourseId" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter course">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Answer Id</label>
        <input type="text" asp-for="@Model.flashCard.AnswerId" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Answer Id">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Status</label>
        <input type="text" asp-for="@Model.flashCard.Status" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Answer Id">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>