﻿@page
@model OnlineLearning.Pages.FlashCardPage.ListFlashCardModel
@{
}

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100%;
        background-color: #083d77;
    }

    .accordion {
        width: 400px;
        padding: 16px;
        background-color: #ebebd3;
        &:first-child;

    {
        margin-top: 16px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    &:not(:last-child) {
        border-bottom: 1px dashed #083d77;
    }

    &__heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: bold;
        font-size: 18px;
        color: #083d77;
        list-style-type: none;
    }

    &__icon {
        height: 24px;
        width: 24px;
    }

    &__text {
        color: black;
        font-size: 14px;
    }

    }
</style>

<div class="container" style="margin-top:30px">
    @foreach (var item in @Model.listFlashCard)
    {
        <details class="accordion">
            <summary class="accordion__heading">
                @Html.Raw(item.Question)<div class="accordion__icon">
                </div>
            </summary>
            <p class="accordion__text" style="margin-top:20px">
                Answer: @item.Answer.Content
            </p>
        </details>
    }


</div>