﻿@page
@model OnlineLearning.Pages.FlashCardPage.UpdateFlashCardModel
@{
}
<h3>Add new Flash Card</h3>
<br />
<form method="post">
    <div class="form-group">
        <input asp-for="@Model.flashCard.FlashcardId" type="hidden" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Id">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Question</label>
        <textarea asp-for="@Model.flashCard.Question" cols="50" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter question"></textarea>
    </div>
    <div class="form-group">
        <label>@Html.LabelFor(c=>c.flashCard.AnswerId)</label>
        <select asp-for="@Model.flashCard.CourseId" class="custom-select2 form-control" style="width: 100%; height: 38px;">
            @foreach (var item in Model.listCourse)
            {
                <option value="@item.CourseId">@item.Title</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>@Html.LabelFor(c=>c.flashCard.AnswerId)</label>
        <select asp-for="@Model.flashCard.AnswerId" class="custom-select2 form-control" style="width: 100%; height: 38px;">
            @foreach (var item in Model.listAnswer)
            {
                <option value="@item.AnswerId">@item.Content</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Status</label>
        <input type="text" asp-for="@Model.flashCard.Status" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Answer Id">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>