﻿@page
@model OnlineLearning.Pages.FlashCardPage.ViewAllFlashCardModel
@{
}



<a href="./AddFlashCard" class="btn btn-primary" style="margin-top:20px;margin-bottom:20px" >Add New</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Question</th>
            <th scope="col">Course</th>
            <th scope="col">AnswerId</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in @Model.listAllFlashCard)
        {
            <tr>
                <th scope="row">@item.FlashcardId</th>
                <td>@item.Question</td>
                <td>@item.Course.Title</td>
                <td>@item.Answer.Content</td>
                <td>@item.Status</td>
                <td>
                    <a href="./UpdateFlashCard?id=@item.FlashcardId">Edit</a>
                    <a href="./DeleteFlashCard?id=@item.FlashcardId">Delete</a>
                </td>
            </tr>
        }
        
    </tbody>
</table>