﻿@page
@model OnlineLearning.Pages.Admin.CoursePage.UpdateCourseModel
@{
}
@{
    Layout = "_AdminLayout";
}
<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        @*<div class="title">
                        <h4>Form</h4>
                        </div>*@
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-page="ListSubject">Subject List</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Update Subject</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <form method="post">
                    <input asp-for="profileId" class="form-control" type="hidden">
                    <input asp-for="Course.CourseId" class="form-control" type="hidden">
                    <div class="form-group row">
                        <label asp-for="Course.Title" class="col-sm-12 col-md-2 col-form-label">Title</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="Course.Title" class="form-control" type="text" placeholder="Title">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Course.Description" class="col-sm-12 col-md-2 col-form-label">Description</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="Course.Description" class="form-control" type="text" placeholder="Description">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Course.Rate" class="col-sm-12 col-md-2 col-form-label">Rate</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="Course.Rate" class="form-control" type="number" placeholder="Rate">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Course.NumberFlashcard" class="col-sm-12 col-md-2 col-form-label">NumberFlashcard</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="Course.NumberFlashcard" class="form-control" type="number" placeholder="NumberFlashcard">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Subject</label>
                        <select asp-for="Course.SubjectId" class="custom-select2 form-control" style="width: 100%; height: 38px;">
                            @foreach (var item in Model.listSub)
                            {
                                <option value="@item.SubjectId">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Course.Status" class="col-sm-12 col-md-2 col-form-label">Status</label>
                        <div class="col-sm-12 col-md-10">
                            <select asp-for="Course.Status" class="custom-select col-12">
                                <option selected="">Choose...</option>
                                <option value="true">Hoạt động</option>
                                <option value="false">Không hoạt động</option>
                            </select>
                        </div>
                    </div>
                    <div class="btn-list">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a asp-page="ListCourse" asp-route-id="@Model.Course.ProfileId" type="submit" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
            <!-- Default Basic Forms End -->

        </div>
    </div>
</div>