﻿@page
@using System.Security.Claims;
@using OnlineLearning.Models;
@model OnlineLearning.Pages.CoursePage.DetailCourseModel
@{
    var check = ViewData["check"] as bool?;
}

<style>
    /* CSS */
    .button-5 {
        align-items: center;
        background-clip: padding-box;
        background-color: #fa6400;
        border: 1px solid transparent;
        border-radius: .25rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: 1.25;
        margin: 0;
        min-height: 3rem;
        padding: calc(.875rem - 1px) calc(1.5rem - 1px);
        position: relative;
        text-decoration: none;
        transition: all 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        width: auto;
    }

        .button-5:hover,
        .button-5:focus {
            background-color: #fb8332;
            box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
        }

        .button-5:hover {
            transform: translateY(-1px);
        }

        .button-5:active {
            background-color: #c85000;
            box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
            transform: translateY(0);
        }
</style>

<div class="container-fluid page-header" style="margin-bottom: 90px;">
    <div class="container">
        <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
            <h3 class="display-4 text-white text-uppercase">Single</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Single</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Detail Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8">
                <div class="mb-5">
                    <h6 class="text-primary mb-3">Jan 01, 2050</h6>
                    <h1 class="mb-5">@Model.Course.Title</h1>
                    <img class="img-fluid rounded w-100 mb-4" src="~/img/carousel-1.jpg" alt="Image">
                    <p>
                        @Model.Course.Description
                    </p>
                </div>
                @if (check == false)
                {
                    <div class="text-center">
                        <!-- HTML !-->
                        <a asp-page="DetailCourse" asp-page-handler="Enrolled" asp-route-id="@Model.Course.CourseId"  class="button-5" role="button">Enroll</a>
                    </div>
                }
                else
                {
                    <div class="text-center">
                        <!-- HTML !-->
                        <a asp-page="DetailCourse" asp-page-handler="Enrolled" asp-route-id="@Model.Course.CourseId" style="pointer-events: none;background-color:gray" class="button-5" role="button">Enroll</a>
                    </div>
                }


            </div>

            <div class="col-lg-4 mt-5 mt-lg-0">
                <!-- Author Bio -->
                <div class="d-flex flex-column text-center bg-dark rounded mb-5 py-5 px-4">
                    <img src="~/img/user.jpg" class="img-fluid rounded-circle mx-auto mb-3" style="width: 100px;">
                    <h3 class="text-primary mb-3">@Model.Subject.Profile.Name</h3>
                    <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Tag Cloud</h3>
                    <p class="text-white m-0">
                        @Model.Subject.Profile.Birthday
                    </p>
                </div>

                @*<!-- Search Form -->
                <div class="mb-5">
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-lg" placeholder="Keyword">
                            <div class="input-group-append">
                                <span class="input-group-text bg-transparent text-primary">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>*@

                <!-- Category List -->
                <div class="mb-5">
                    @*<h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Subject</h3>*@
                    <ul class="list-group list-group-flush">
                        @if(check == true)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                <a class="btn btn-danger" href="../FlashCardPage/ListFlashCard?cid=@Model.Course.CourseId" class="text-decoration-none h6 m-0">Learn FlashCard</a>
                            </li>
                        }
                        else
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                <a class="btn btn-secondary" href="../FlashCardPage/ListFlashCard?cid=@Model.Course.CourseId" style="pointer-events: none" class="text-decoration-none h6 m-0">Learn FlashCard</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Detail End -->
