﻿@using Microsoft.AspNetCore.Identity
@using OnlineLearning.Models;
@using OnlineLearning.Utility;
@using System.Security.Claims;
@*@inject SignInManager<Account> _SignInManager
@inject UserManager<Account> _UserManager*@
<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>DeskApp - Bootstrap Admin Dashboard HTML Template</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/vendors/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/vendors/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/vendors/images/favicon-16x16.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/src/plugins/datatables/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/src/plugins/datatables/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/style.css">
    <link rel="stylesheet" type="text/css" href="~/src/plugins/sweetalert2/sweetalert2.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');
    </script>
</head>
<body>
    <div class="header">
        <div class="header-left">
            <div class="menu-icon dw dw-menu"></div>
            <div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>
            @*<div class="header-search">
            <form>
            <div class="form-group mb-0">
            <i class="dw dw-search2 search-icon"></i>
            <input type="text" class="form-control search-input" placeholder="Search Here">
            <div class="dropdown">
            <a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
            <i class="ion-arrow-down-c"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
            <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">From</label>
            <div class="col-sm-12 col-md-10">
            <input class="form-control form-control-sm form-control-line" type="text">
            </div>
            </div>
            <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">To</label>
            <div class="col-sm-12 col-md-10">
            <input class="form-control form-control-sm form-control-line" type="text">
            </div>
            </div>
            <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Subject</label>
            <div class="col-sm-12 col-md-10">
            <input class="form-control form-control-sm form-control-line" type="text">
            </div>
            </div>
            <div class="text-right">
            <button class="btn btn-primary">Search</button>
            </div>
            </div>
            </div>
            </div>
            </form>
            </div>*@
        </div>
        <div class="header-right">
            @if (Context.User.Identity?.IsAuthenticated == true)
            {
                <div class="user-notification">
                    <div class="dropdown">
                        <a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
                            <i class="icon-copy dw dw-notification"></i>
                            <span class="badge notification-active"></span>
                        </a>
                    </div>
                </div>
                <div class="user-info-dropdown">
                    <div class="dropdown">
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown">
                            <span class="user-icon">
                                <img src="~/vendors/images/photo1.jpg" alt="">
                            </span>
                            <span class="user-name">@User.Identity?.Name</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                            <a class="dropdown-item" href="/UserProfile?id=@User.FindFirst(ClaimTypes.Sid)?.Value"><i class="dw dw-user1"></i> Profile</a>
                            <a class="dropdown-item" href="/Logout"><i class="dw dw-logout"></i> Log Out</a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="user-info-dropdown">
                    <a class="btn btn-primary" asp-page="/Login">Login</a>
                </div>
            }
        </div>
    </div>

    <div class="left-side-bar">
        @*<div class="brand-logo">
        <a href="../..">
        <img style="max-width: 56px;" src="vendors/images/home-icon.png" alt="">
        </a>

        </div>*@
        <div style="display:flex" class="brand-logo">
            <a class="justify-content-lg-start" href="login.html">
                <img style="max-width: 56px;" src="vendors/images/home-icon.png" alt="">
            </a>
            <div style="display: flex; flex-direction: column; justify-content: center">
                <h5 class="text-white">SMS System</h5>
            </div>
            <div class="close-sidebar" data-toggle="left-sidebar-close">
                <i class="ion-close-round"></i>
            </div>
        </div>
        <div class="menu-block customscroll">
            <div class="sidebar-menu">
                <ul id="accordion-menu">
                    <li>
                        <a href="/Index" class="dropdown-toggle no-arrow">
                            <span class="micon dw dw-house-1"></span><span class="mtext">Home</span>
                        </a>
                    </li>
                    @if (User.IsInRole(RoleConstant.ADMIN))
                    {
                        <li>
                            <a href="/Admin/AccountPage/ListAccount" class="dropdown-toggle no-arrow">
                                <span class="micon dw dw-user-12"></span><span class="mtext">Account</span>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole(RoleConstant.LECTURE))
                    {
                        <li>
                            <a href="/Admin/FlashCardPage/ListFlashCard?id=@User.FindFirst(ClaimTypes.Sid)?.Value" class="dropdown-toggle no-arrow">
                                <span class="micon dw dw-user-13"></span><span class="mtext">Flashcard</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="/Admin/FlashCardPage/ListFlashCard" class="dropdown-toggle no-arrow">
                                <span class="micon dw dw-user-13"></span><span class="mtext">Flashcard</span>
                            </a>
                        </li>
                    }


                    @if (User.IsInRole(RoleConstant.LECTURE))
                    {
                        <li>
                            <a href="/Admin/CoursePage/ListCourse?id=@User.FindFirst(ClaimTypes.Sid)?.Value" class="dropdown-toggle no-arrow">
                                <span class="micon dw dw-open-book-2"></span><span class="mtext">Course</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="/Admin/CoursePage/ListCourse" class="dropdown-toggle no-arrow">
                                <span class="micon dw dw-open-book-2"></span><span class="mtext">Course</span>
                            </a>
                        </li>
                    }

                    @if (User.IsInRole(RoleConstant.LECTURE))
                    {
                        <li>
                            <a href="/Admin/SubjectPage/ListSubject?id=@User.FindFirst(ClaimTypes.Sid)?.Value" class="dropdown-toggle no-arrow">
                                <span class="micon dw dw-book2"></span><span class="mtext">Subject</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="/Admin/SubjectPage/ListSubject" class="dropdown-toggle no-arrow">
                                <span class="micon dw dw-book2"></span><span class="mtext">Subject</span>
                            </a>
                        </li>
                    }



                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<div class="footer-wrap pd-20 mb-20 card-box">
    DeskApp - Bootstrap 4 Admin Template By <a href="https://github.com/dropways" target="_blank">Ankit Hingarajiya</a>
    </div>*@

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@

    <script src="~/vendors/scripts/core.js"></script>
    <script src="~/vendors/scripts/script.min.js"></script>
    <script src="~/vendors/scripts/process.js"></script>
    <script src="~/vendors/scripts/layout-settings.js"></script>
    <script src="~/src/plugins/apexcharts/apexcharts.min.js"></script>
    <script src="~/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
    <script src="~/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
    <script src="~/vendors/scripts/dashboard.js"></script>
    <script src="~/src/plugins/sweetalert2/sweetalert2.all.js"></script>
    <script src="~/src/plugins/sweetalert2/sweet-alert.init.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>