﻿@page
@model OnlineLearning.Pages.Admin.FlashCardPage.AddFlashCardModel
@{
    Layout = "_AdminLayout";
}
<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        @*<div class="title">
                        <h4>Form</h4>
                        </div>*@
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-page="ListFlashCard">FlashCard List</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Add FlashCard</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <form method="post">
                    <input asp-for="ProfileId" class="form-control" type="hidden">
                    <div class="form-group row">
                        <label asp-for="flashCard.Question" class="col-sm-12 col-md-2 col-form-label">Question</label>
                        <div class="col-sm-12 col-md-10">
                            @*<input asp-for="flashCard.Question" class="form-control" type="text" placeholder="Question">*@
                            <textarea asp-for="flashCard.Question" class="textarea_editor form-control border-radius-0"
                                      placeholder="Enter Question ...">
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Course</label>
                        <select asp-for="flashCard.CourseId" class="custom-select2 form-control" style="width: 100%; height: 38px;">
                            @foreach (var item in Model.listCourses)
                            {
                                <option value="@item.CourseId">@item.Title</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Answer</label>
                        <select asp-for="flashCard.AnswerId" class="custom-select2 form-control" style="width: 100%; height: 38px;">
                            @foreach (var item in Model.listAnswer)
                            {
                                <option value="@item.AnswerId">@item.Content</option>
                            }
                        </select>
                    </div>
                    <div class="form-group row">
                        <label asp-for="flashCard.Status" class="col-sm-12 col-md-2 col-form-label">Status</label>
                        <div class="col-sm-12 col-md-10">
                            <select asp-for="flashCard.Status" class="custom-select col-12">
                                <option selected="">Choose...</option>
                                <option value="true">Hoạt động</option>
                                <option value="false">Không hoạt động</option>
                            </select>
                        </div>
                    </div>
                    <div class="btn-list">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a asp-page="ListFlashCard" asp-route-id="@Model.ProfileId" type="submit" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
            <!-- Default Basic Forms End -->

        </div>
    </div>
</div>