﻿@page
@using System.Security.Claims;
@model OnlineLearning.Pages.Admin.SubjectPage.UpdateSubjectModel
@{
    Layout = "_AdminLayout";
}
<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        @*<div class="title">
                        <h4>Form</h4>
                        </div>*@
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-page="ListSubject">Subject List</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Update Subject</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <form method="post">
                    <input asp-for="Subject.SubjectId" class="form-control" type="hidden">
                    <input asp-for="Subject.ProfileId" class="form-control" type="hidden">
                    <div class="form-group row">
                        <label asp-for="Subject.Name" class="col-sm-12 col-md-2 col-form-label">Subject Name</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="Subject.Name" class="form-control" type="text" placeholder="Subject Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Subject.Code" class="col-sm-12 col-md-2 col-form-label">Subject Code</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="Subject.Code" class="form-control" type="text" placeholder="Subject Code">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Subject.Discription" class="col-sm-12 col-md-2 col-form-label">Description</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="Subject.Discription" class="form-control" type="text" placeholder="Description">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Subject.Status" class="col-sm-12 col-md-2 col-form-label">Status</label>
                        <div class="col-sm-12 col-md-10">
                            <select asp-for="Subject.Status" class="custom-select col-12">
                                <option selected="">Choose...</option>
                                <option value="true">Hoạt động</option>
                                <option value="false">Không hoạt động</option>
                            </select>
                        </div>
                    </div>
                    <div class="btn-list">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a asp-page="ListSubject" asp-route-id="@User.FindFirst(ClaimTypes.Sid)?.Value" type="submit" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
            <!-- Default Basic Forms End -->

        </div>
    </div>
</div>